@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: #020202;
  line-height: 2;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

a {
  text-decoration: underline;
}
